<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 200px);">
  <div class="border rounded p-6 text-center">
    <h1 class="mb-2">Coming Soon</h1>
    <a class="Button Button--secondary"  href="/">
      <%= render(Primer::Beta::Octicon.new(:"arrow-left", size: :small)) %>
      Go Back
    </a>
  </div>
</div>
