<h3>Hello <%= @user.name %>,</h3>
<p style="word-break: break-all;">
  Click this link to confirm your email address: <%= link_to edit_confirmation_url(@confirmation_token), edit_confirmation_url(@confirmation_token) %>
</p>
<p style="margin-top: 8px;">
  Thanks<br/>
  The httpmock.dev Team
</p>
