<h3>Hello <%= @user.name %>,</h3>
<p style="word-break: break-all;">
  Click this link to reset your httpmock.dev password: <%= link_to edit_password_url(@password_reset_token), edit_password_url(@password_reset_token) %>
</p>
<p style="margin-top: 8px;">
  Thanks<br/>
  The httpmock.dev Team
</p>
