<div class="d-flex-center">
  <div style="min-width: 600px" class="mt-4">
    <%= render 'shared/back_button', {href: show_project_path(@project.id), text: t('views.shared.back_to_dashboard')} %>
    <div class="border rounded p-6 mt-4">
      <%= render(Primer::Beta::Heading.new(tag: :h1, mb: 2)) { t('views.endpoints.new_title') } %>
      <%= primer_form_with(url: create_endpoint_path(@project.id), model: @endpoint) do |f| %>
        <%= render(CreateEndpointForm.new(f)) %>
      <% end %>
    </div>
  </div>
</div>
