<div class="d-flex-center">
  <div style="min-width: 400px" class="mt-4">
    <%= render 'shared/back_button', {href: show_project_path(@project.id), text: t('views.shared.back_to_dashboard')} %>
    <div class="border rounded p-6 mt-2">
      <%= render(Primer::Beta::Heading.new(tag: :h1, mb:-3)) { t('views.projects.edit_title') } %>'
      <p class="mb-3 fgColor-muted">Your mocked endpoints are grouped into projects for better organization.</p>
      <%= primer_form_with(url: update_project_path(@project.id), method: :patch, model: @project) do |f| %>
        <%= render(EditProjectForm.new(f)) %>
      <% end %>
    </div>
  </div>
</div>
