<div class="container-xl mt-8" style="min-height: calc(100vh - 200px);">
  <%= render(Primer::Beta::Subhead.new(class: 'mt-8', spacious: true)) do |component| %>
    <% component.with_heading(size: :large) do %>
      All Projects
    <% end %>
  <% end %>
  <div class="gutter">
    <% @projects.all.each do |project|  %>
      <div class="col-3">
        <div class="border rounded px-4 py-2">
          <%= render(Primer::Beta::Heading.new(tag: :h2)) { project.name } %>
          <p class="fgColor-muted"><%= project.description %></p>
          <%= render(Primer::Beta::Button.new(scheme: :primary, tag: :a, classes: ['mb-2'], href: show_projects_path(project.id))) do |button| %>
            <% button.with_leading_visual_icon(icon: :link) %>
            Open Project
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
