<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 200px);">
  <div class="border rounded p-6 text-center">
    <h1 class="mb-2">Coming Soon</h1>
    <a class="Button Button--secondary Button--large"  href="https://github.com/NdoleStudio/httpmock">
      <%= render(Primer::Beta::Octicon.new(:"mark-github", size: :small)) %>
      Github
    </a>
  </div>
</div>
