/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-family: 'Inter', sans-serif;
    --overlay-padding-condensed: 6px;
    --overlay-paddingBlock-condensed: 2px;
}

@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

a.text-decoration-none {
  text-decoration: none;
}
a.text-decoration-none:hover {
  text-decoration: none;
}

.position-absolute.tooltip-s {
 padding: 16px !important;
}
.position-absolute.tooltip-s::backdrop{
    padding-left: 16px !important;
}
